<p id="notice"><%= notice %></p>

<h1>Listing Campeigns</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campeigns.each do |campeign| %>
      <tr>
        <td><%= campeign.user %></td>
        <td><%= campeign.name %></td>
        <td><%= campeign.description %></td>
        <td><%= campeign.status %></td>
        <td><%= campeign.created_by %></td>
        <td><%= campeign.updated_by %></td>
        <td><%= link_to 'Show', campeign %></td>
        <td><%= link_to 'Edit', edit_campeign_path(campeign) %></td>
        <td><%= link_to 'Destroy', campeign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campeign', new_campeign_path %>
