<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @campeign.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campeign.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campeign.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campeign.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @campeign.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @campeign.updated_by %>
</p>

<%= link_to 'Edit', [:edit , current_user ,@campeign] %> |
<%= link_to 'Back', user_campeigns_path(current_user) %>
