<p>
	<%= t('words.hi') %> <%= @user.email %>,
</p>

<p>
	<%= t('mailer.mailchimp.error') %>
	<div><%= @message.html_safe %></div>
	<%= t('mailer.mailchimp.action') %>
</p>

<p>
	<%= t('words.thank_you') %><br/>
</p>
