<p class="fields">	
  <%= f.label :field_name, "Name" %>
	<%= f.text_field :field_name %>
	<%= f.label :field_type, "Type" %>
	<%= f.text_field :field_type %>
	
  <%= f.hidden_field :_destroy %>      
  <%#= link_to_remove_fields "remove", f %>
  
</p>