<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-6 col-xs-10">
          <%= form_for(@profile, :html => {:class => 'form-horizontal'}) do |f| %>
            <% if @profile.errors.any? %>
              <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= pluralize(@profile.errors.count, "error") %> prohibited this company from being saved:</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <% @profile.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>

            <div class="field form-group form-group-sm">
              <%= f.label :name, :class => "col-sm-3 col-xs-12 control-label" %>
              <div class="col-sm-9 col-xs-12"> <%= f.text_field :name, :class => 'form-control' %> </div>
            </div>          
            <div class="form-group form-group-sm field">
              <%= f.label :status, :class => "col-sm-3 col-xs-12 control-label" %>
              <div class="col-sm-9 col-xs-12">
                <%= label :status, "Enabled" %>
                <%= f.radio_button :status, true , :checked => @profile.new_record? ? true : @profile.status , :value => true %>
                <%= label :status, "Disabled" %>
                <%= f.radio_button :status, false , :checked => @profile.new_record? ? false : @profile.status , :value => false %>
              </div>
            </div>
            <div class="col-md-12 col-xs-12">
              <div class="col-lg-2 col-xs-1"> </div>
              <div class="col-md-6 col-xs-10">
                <div class="form-group custom-from-group">
                  <%= f.submit %>
                </div>
              </div>
              <div class="col-lg-4 col-xs-1"> </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  