
<div class="row">
  <div class="page-title">
    <div class="title_left"><h2><%= t('devise.registrations.edit_profile') %></h2></div><!-- title_left -->    
    <div class="clearfix"></div>
  </div><!-- page-title -->
</div><!--row-->


<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group form-group-sm">
          <%= f.label :email, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group form-group-sm">
          <%= f.label :password, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group form-group-sm">
          <%= f.label :password_confirmation, t('devise.registrations.confirm_password'), :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label"><%= t('devise.registrations.current_password') %><span style="color:red;"> *</span></label>
          <div class="col-sm-8 col-xs-12">
            <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
          </div>
          <div class="clearfix"></div>
        </div>


        <div class="col-lg-4 col-xs-1">
          <div class="form-group form-group-sm">
            <label class="col-sm-4 col-xs-12 control-label">&nbsp;</label>
            <div class="col-sm-8 col-xs-12 custom-radio-input">&nbsp;</div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <div class="divider"></div>

      </div>

        <div class="col-lg-4 col-xs-1">
          <div class="user-pic">
            <%= image_tag current_user.image.url(:medium) %>
          </div>
 
          <div class="upload-pic">
            <div class="input-group">
              <!-- <input type="text" readonly="" placeholder=<%#= t('words.images_only') %> >               -->
              <%= f.file_field :image, :placeholder => t('words.images_only') %>
              <!-- <span class="input-group-btn">
                <span class="btn btn-primary btn-file upload-btn custom-dark-btn">
                   <%#= t('buttons.upload') %>
                  <%#= f.hidden_field :image_cache %>

                  <!-- <i class="fa fa-upload"></i>Upload Picture<input type="file" multiple=""> -->
<!--                 </span>
              </span> -->
            </div>
          </div>
          <div class="clearfix"></div>

        </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-5 col-xs-10">
          <div class="form-group custom-from-group">
            <div class="col-xs-4">&nbsp;</div>

            <div class="col-xs-8 text-left">
              <%= f.submit t('buttons.update') ,:class => 'btn dark-btn-custom'%>
              <%= link_to t('cancel'), root_path %>

            </div>
            <% end %>
          </div>

        </div>
        <div class="col-lg-4 col-xs-1">&nbsp;</div>
        <div class="clearfix"></div>

      </div>
    </div><!-- row -->
</div><!--  custom-container -->