<p id="notice"><%= notice %></p>

<p>
  <strong>Controller:</strong>
  <%= @function.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @function.action %>
</p>

<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
