
      <div class="row td">
        <div class="col-md-1 check">
        <% if can?(:update , Attribute) or can?(:delete , Attribute) %>
        	<input name="" type="checkbox" value=<%=attribute.id%> >
        <% end %>
        </div>
        <div class="col-md-4"><%= attribute.name %>&nbsp;</div>
        <!-- <div class="col-md-3"><%#= attribute.description %>&nbsp;</div> -->
        <div class="col-md-3"><%= display_status(attribute) %>&nbsp;</div>
        <div class="col-md-3"><%= format_date(attribute, :created_at) %>&nbsp;</div>
        <div class="col-md-1 text-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
      </div>
      <%= render 'shared/inline_action_link', element: attribute %>

 
