<div class="row">
  <div class="page-title">
    <div class="title_left"><h2>Attribute list</h2></div><!-- title_left -->
      <div class="title_right">
        <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right">
          <div class="advance-search"><i class="fa fa-dot-circle-o"></i></div>
          <div class="custom-add"><%= link_to new_attribute_path do %><i class="fa fa-plus"></i><% end %></div>
        </div>
        <%= render 'shared/keyword_search', :condition => :name_cont %>
      </div><!--title_right -->
      <div class="clearfix"></div>                
  </div><!-- page-title -->
</div><!--row-->


<%- model_class = Campaign -%>
<div class="custom-table">
  <div class="row th">
    <div class="col-md-1" id='select-all'><input name="" type="checkbox" value=""></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:name) %></div>
    <div class="col-md-3"><%= model_class.human_attribute_name(:description) %></div>
    <div class="col-md-1"><%= model_class.human_attribute_name(:status) %></div>
    <div class="col-md-3"><%= model_class.human_attribute_name(:created_at) %></div>
    <div class="col-md-2">&nbsp;</div>
  </div><!-- row -->

  <% @attributes.each do |attribute| %>
    <div class="row td">
      <div class="col-md-1"><input name="" type="checkbox" value=<%=attribute.id%> ></div>
      <div class="col-md-2"><%= attribute.name %></div>
      <div class="col-md-3"><%= attribute.description %></div>
      <div class="col-md-1"><%= attribute.status ? 'Enabled' : 'Disabled' %></div>
      <div class="col-md-3"><%= format_date(attribute, :created_at) %></div>
      <div class="col-md-2 text-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
    </div>

      <%= render 'shared/inline_action_link', element: attribute %>

  <% end %>
  <%= render 'shared/bootam_action_link'%>
  <%#= will_paginate @attributes %>
</div>
