<div class="row td" id="template_<%=template.id%>">
	<div class="col-md-1 check"><input name="" type="checkbox" value=<%=template.id%> ></div>
	<div class="col-md-8"><%= template.name %>&nbsp;</div>
	<div class="col-md-2"><%= format_date(template, :created_at) %>&nbsp;</div>
	<div class="col-md-1 text-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
</div>
<%= render 'shared/inline_action_link', element: template %>