<p id="notice"><%= notice %></p>

<h1>Listing Templates</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.user.username %></td>
        <td><%= template.name %></td>
        <td><%= template.content %></td>
        <td><%= template.status %></td>
        <td><%= template.created_by %></td>
        <td><%= template.updated_by %></td>
        <td><%= link_to 'Show', [current_user ,template] %></td>
        <td><%= link_to 'Edit', edit_user_template_path(current_user ,template) %></td>
        <td><%= link_to 'Destroy', [current_user  ,template], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_user_template_path(current_user) %>
