<script type="text/javascript">
  $(document).ready(function() {
    var attributes = <%= @attributes.to_json.html_safe %>
    search_init.selectSearch(attributes);
  });
</script>

<div class="row">
  <div class="page-title">
    <div class="title_left"><h2>Template List - Advance Search </h2></div><!-- title_left -->
      <div class="title_right">                     
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group custom-input-search">
          </div><!-- input-group -->                     
        </div>                           
      </div><!--title_right -->
      <div class="clearfix"></div>
  </div><!-- page-title -->
</div><!--row-->

<div class="greyBg">

  <%= search_form_for @q, url: search_templates_path, method: :post do |f| %>
    <%= f.grouping_fields do |c| %>
      <%= render "grouping_fields", f: c %>
    <% end %>
    
    <div class="row add_link">
      <div class="col-xs-11 text-right custom-label"><%= link_to_add_condition_group "Add Conditions Group", f, :grouping %></div>
      <div class="col-xs-1 dark-btn"><%= button_tag("Search", type: 'submit', class: "btn btn-default") %></div>
    </div>  
    <% end %>

<%= render 'results'%>

<%= will_paginate @templates , renderer: BootstrapPagination::Rails %>
<div>
  <%= link_to "Back", templates_path %>
</div>


