<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @template.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @template.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @template.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @template.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @template.updated_by %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
