  <div class="row">
    <div class="page-title">
      <div class="title_left"><h2><%= t('frontend.shared.view', model_name: pick_model_from_locale(:template)) %></h2></div><!-- title_left -->

      <div class="clearfix"></div>



    </div><!-- page-title -->
  </div><!--row-->

  <div class="custom-container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-5 col-xs-10">
          <form class="form-horizontal">


            <div class="form-group form-group-sm">
              <label class="col-sm-4 col-xs-12 control-label"><%= t('activerecord.attributes.template.name') %></label>
              <div class="col-sm-8 col-xs-12 default-without-input">
                <%= @template.name%>
              </div>
            </div>


            <div class="form-group form-group-sm">
              <label class="col-sm-4 col-xs-12 control-label"><%= t('activerecord.attributes.template.content') %></label>
              <div class="col-sm-8 col-xs-12 default-without-input">
                <%= @template.content.html_safe %>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-4 col-xs-12 control-label"><%= t('activerecord.attributes.template.status') %></label>
              <div class="col-sm-8 col-xs-12 default-without-input">
                <%= display_status(@template) %>
              </div>
            </div>
   </div><!-- row -->
  <div class="clearfix"></div>
<div class="divider"></div>   

    </div><!--  custom-container -->
    <% if can? :update, ActiveRecord::Base::Template %>
     <%= link_to t('buttons.edit'), edit_template_path(@template) %> |
    <% end %>
    <%= link_to t('buttons.back'), templates_path %>



