      <div class="green-Border green-text text-right">Advance Search <i class="fa fa-caret-down"></i></div> 
        <div class="grey-box">
          <div class="row">
            <%#= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
              <div class="form-group form-group-sm">
                <label class="col-xs-3 text-right control-label">Gender</label>
                <div class="col-xs-3 ">  
                    <%= radio_button_tag 'q[gender_true]', 1 %>
                    <label><span></span>Male</label>              
                    <%= radio_button_tag 'q[gender_false]', 1 %>
                    <label><span></span>Female</label>              
                </div >                            
                <div class="clearfix"></div> 
              </div>

              <div class="clearfix"></div> 
            
              <div class="form-group form-group-sm">
                <label class="col-xs-3 text-right control-label" >Country</label>
                <div class="col-xs-3">
                  <%= country_select("q", "country_eq", {priority: %w(IN ES), prompt: 'Select Country'}, :class=>"form-control" ) %>
                </div>
                <div class="clearfix"></div> 
              </div>

              <div class="form-group form-group-sm">
                <label class="col-xs-3 text-right control-label" >City</label>
                <div class="col-xs-3"> <%= text_field_tag 'q[city_cont]', '', :class => "form-control" %> </div>
                <div class="clearfix"></div> 
              </div>

              <div class="form-group form-group-sm">
                <label class="col-xs-3 text-right control-label" >Area of interest</label>
                <div class="col-xs-3">
                  <% Attribute.active.each do |attribute| %>
                    <%= check_box_tag 'contact[interest_area_ids][]', attribute.id %> <label><span></span><%= attribute.name %></label><br/>
                  <% end %>
                </div>              
                <div class="clearfix"></div> 
              </div>
              <%= link_to "Search", "#", :class => 'contact_search_for_newsletter' %>
              <%#= f.submit "Search" %> 
            <%# end %>
          </div>
        </div>
      </div>