<div class="field">
  <div class="row form-group" style="position:relative;">
    <div class="search_attribute">
      <div class="col-xs-3">      
        <%= f.attribute_fields do |a| %>
          <%= a.attribute_select({ include_blank: t('asearch.select')}, {class: 'form-control select_attributes'}) %>
        <% end %>
      </div>  

      <div class="col-xs-4">
        <%= f.predicate_select({ only: [:cont, :not_cont, :gt, :gteq, :lt, :lteq, :eq, :not_eq, :start, :not_start, :end, :not_end, :date_eq, :date_not_eq, :date_lt, :date_lteq, :date_gt, :date_gteq, :in ], compounds: false}, {class: 'predicate_select form-control'}) %>
      </div>
    </div>
    
    <div class="col-xs-4 box_search">  
      <%= f.value_fields do |v| %>
        <%= v.text_field :value, :class => 'value_search form-control' %>
      <% end %>
      </div>  
   
    <div class="box_select inline col-xs-4" style="display:none"></div>     
    <div class="cond_cross">
      <%= link_to "#", {:class => 'remove_fields'} do %>
        <i class="fa fa-times"></i>
      <% end %>    
    </div>    
  </div>
</div>
