<div class="custom-container">
  <%= form_for(@newsletter, :html => {:class => 'form-horizontal newsletter_form'}) do |f| %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-6 col-xs-10">
          <div class="form-horizontal">
          
            <div class="form-group form-group-sm">
              <%= f.label :name, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= f.text_field :name, :class => 'form-control' %>
              </div>
            </div>
          
            <div class="form-group form-group-sm">
              <%= f.label :campaign_id, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= collection_select(:newsletter, :campaign_id, Campaign.active, :id, :name, {:prompt => 'Please select a campaign'}, {:class => 'form-control'}) %> 
              </div>
            </div>

            <div class="form-group form-group-sm">
              <%= f.label :subject, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= f.text_field :subject, :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <%= f.label :template_id, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= collection_select(:newsletter, :template_id, @templates, :id, :name, {:prompt => 'Please select a template'}, {:class => 'form-control'}) %> 
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 col-xs-12 control-label" >Select contact Group</label>
              <div class="col-xs-9 custom-checkbox-style" id="profile-custom-select">
                <%= collection_select(:newsletter, :profile_ids, Profile.active, :id, :name, {:include_blank => 'Press ctrl for multiselect'}, {:multiple => true, :class => 'form-control'}) %>
              </div>
            </div>
          
            <div class="form-group form-group-sm">
              <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
              <div class="col-sm-9 col-xs-12">
                <div class="saprator">and</div>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
              <div class="col-sm-9 col-xs-12">
                <%= f.fields_for :newsletter_emails, @newsletter_email do |newsletter_email_form| %>
                  
                  <% if newsletter_email_form.object.from_contacts? %>
                    <%= newsletter_email_form.text_area :emails, :class => "form-control contact_emails" %>
                    <%= newsletter_email_form.hidden_field :from_contacts, :value => true %>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div><!-- form-horizontal -->
        </div>
        <div class="col-lg-4 col-xs-1">&nbsp;</div>
        <div class="clearfix"></div>
      </div>

      <div class="col-xs-1">&nbsp;</div>

      <div class="col-xs-10">
        <%= render 'advanced_search' %>
        <div class="col-xs-1">&nbsp;</div>


        <div class="col-md-12 col-xs-12">
          <div class="col-lg-2 col-xs-1">&nbsp;</div>
          <div class="col-md-6 col-xs-10">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 spacing-top blue-heading col-xs-12 control-label" >Sender Settings</label>
                <div class="col-sm-9 col-xs-12">  </div>
              </div>

              <div class="form-group form-group-sm">
                <%= f.label :from_name, :class => "col-sm-3 col-xs-12 control-label" %>
                <div class="col-sm-9 col-xs-12">
                  <%= f.text_field :from_name, :class => 'form-control' %>
                </div>
              </div>
          <div class="form-group form-group-sm">
            <%= f.label :from_address, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.text_field :from_address, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <%= f.label :reply_email, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.email_field :reply_email, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <%= f.label :cc_email, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.email_field :cc_email, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <%= f.label :bcc_email, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.email_field :bcc_email, :class => 'form-control' %>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>
      <div class="custom-divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-6 col-xs-10">
        <div class="form-horizontal">
          <div class="form-group form-group-sm">
            <label class="col-sm-3 blue-heading col-xs-12 control-label" >Sample Email</label>
            <div class="col-sm-9 col-xs-12">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-sm-3 col-xs-12 control-label" >Email Address</label>
            <div class="col-sm-9 col-xs-12">
              <%= f.fields_for :newsletter_emails, @sample_newsletter_email do |sample_newsletter_email_form| %>
                <% if sample_newsletter_email_form.object.sample? %>
                  <%= sample_newsletter_email_form.text_field :emails, :class => "form-control" %>
                  <%= sample_newsletter_email_form.hidden_field :sample, :value => true %>              
                <% end %>
              <% end %>
              
              <span class="small">Send a copy of the campaign to the following email address(es), separated by commas:</span>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
            <div class="col-sm-9 col-xs-12 custom-radio-input">
              <input id="radio01" name="" type="radio" value="" class="auto_response_toggle">
              <label for="radio01"><span></span>Auto Responder Rules</label>
              <% if @newsletter.auto_response %>
                <%= f.email_field :auto_response, :class => "form-control" %>
              <% else %>
                <%= f.email_field :auto_response, :class => "form-control", :style => "display:none" %>
              <% end %>
            </div>
          </div>
          
          <div class="form-group form-group-sm">
            <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
            <div class="col-sm-9 col-xs-12 custom-radio-input">
              <input id="radio02" name="" type="radio" value="" class="send_at_toggle">
              <label for="radio02"><span></span>Auto Sent</label>
              <% if @newsletter.send_at %>
                <%= f.text_field :send_at, :class => "form-control datepicker" %>
              <% else %>
                <%= f.text_field :send_at, :class => "form-control datepicker", :style => "display:none" %>
              <% end %>              
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>
      <div class="custom-divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-6 col-xs-10">
        <div class="form-group custom-from-group">
          <button type="button" id='preview-template'>Preview</button>
          <%= f.submit :Save ,:class => 'btn dark-btn-custom' %>
          <%= link_to "Cancel", newsletters_path, :class => 'btn custom-link-btn' %>
           
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>

    </div>
  </div><!-- row -->
 <% end %>
</div><!--  custom-container -->

<!-- Preview Template -->
<!-- Modal -->
<%#= render :partial => "preview_template" %>
<!-- Preview Template -->