<div class="custom-container">
  <%= form_for(@newsletter, :html => {:class => 'form-horizontal newsletter_form'}) do |f| %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-6 col-xs-10">
          <div class="form-horizontal">
          
            <div class="form-group form-group-sm">
              <%= f.label :name, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= f.text_field :name, :class => 'form-control' %>
              </div>
            </div>
          
            <div class="form-group form-group-sm">
              <%= f.label :campaign_id, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= collection_select(:newsletter, :campaign_id, Campaign.active.all, :id, :name, {:prompt => 'Please select a campaign'}, {:class => 'form-control'}) %> 
              </div>
            </div>

            <div class="form-group form-group-sm">
              <%= f.label :subject, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= f.text_field :subject, :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <%= f.label :template_id, :class => "col-sm-3 col-xs-12 control-label"%>      
              <div class="col-sm-9 col-xs-12">
                <%= collection_select(:newsletter, :template_id, @templates, :id, :name, {:prompt => 'Please select a template'}, {:class => 'form-control'}) %> 
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 col-xs-12 control-label" >Select contact Group</label>
              <div class="col-xs-9 custom-checkbox-style" id="profile-custom-select">
                <%= collection_select(:contact, :profile_ids, Profile.active, :id, :name, {:include_blank => 'Press ctrl for multiselect'}, {:multiple => true, :name => 'newsletter[profile_ids][]', :selected => 0, :class => 'form-control'}) %>
              </div>
            </div>
          
            <div class="form-group form-group-sm">
              <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
              <div class="col-sm-9 col-xs-12">
                <div class="saprator">and</div>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
              <div class="col-sm-9 col-xs-12">
                <textarea class="form-control contact_emails" cols="" rows="" name="emails"></textarea>
              </div>
            </div>
          </div><!-- form-horizontal -->
        </div>
        <div class="col-lg-4 col-xs-1">&nbsp;</div>
        <div class="clearfix"></div>
      </div>

      <div class="col-xs-1">&nbsp;</div>

      <div class="col-xs-10">
        <%= render 'advanced_search' %>
        <div class="col-xs-1">&nbsp;</div>


        <div class="col-md-12 col-xs-12">
          <div class="col-lg-2 col-xs-1">&nbsp;</div>
          <div class="col-md-6 col-xs-10">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 spacing-top blue-heading col-xs-12 control-label" >Sender Settings</label>
                <div class="col-sm-9 col-xs-12">  </div>
              </div>

              <div class="form-group form-group-sm">
                <%= f.label :from_name, :class => "col-sm-3 col-xs-12 control-label" %>
                <div class="col-sm-9 col-xs-12">
                  <%= f.text_field :from_name, :class => 'form-control' %>
                </div>
              </div>
          <div class="form-group form-group-sm">
            <%= f.label :from_address, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.text_field :from_address, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <%= f.label :reply_email, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.email_field :reply_email, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <%= f.label :cc_email, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.email_field :cc_email, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <%= f.label :bcc_email, :class => "col-sm-3 col-xs-12 control-label" %>
            <div class="col-sm-9 col-xs-12">
              <%= f.email_field :bcc_email, :class => 'form-control' %>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>
      <div class="custom-divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-6 col-xs-10">
        <div class="form-horizontal">
          <div class="form-group form-group-sm">
            <label class="col-sm-3 blue-heading col-xs-12 control-label" >Sample Email</label>
            <div class="col-sm-9 col-xs-12">

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-sm-3 col-xs-12 control-label" >Email Address</label>
            <div class="col-sm-9 col-xs-12">
              <input class="form-control" type="text" id="formGroupInputSmall" >
              <span class="small">Send a copy of the campaign to the following email address(es), separated by commas:</span>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
            <div class="col-sm-9 col-xs-12 custom-radio-input">
              <input id="radio01" name="" type="radio" value="">
              <label for="radio01"><span></span>Auto Responder Rules</label>
              <input class="form-control" type="text" id="formGroupInputSmall" >
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-sm-3 col-xs-12 control-label" >&nbsp;</label>
            <div class="col-sm-9 col-xs-12 custom-radio-input">
              <input id="radio02" name="" type="radio" value="">
              <label for="radio02"><span></span>Auto Sent</label>
              <input class="form-control" type="text" id="formGroupInputSmall" >
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>
      <div class="custom-divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-6 col-xs-10">
        <div class="form-group custom-from-group">
          <button>Preview</button>
          <button>Save</button>
          <a href="#">Cancel</a>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>

    </div>
  </div><!-- row -->
 <% end %>
</div><!--  custom-container -->








<% if false %>
<%= form_for [current_user ,@newsletter] do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campaign_id %><br>
    <%= f.text_field :campaign_id %>
  </div>
  <div class="field">
    <%= f.label :template_id %><br>
    <%= f.text_field :template_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :from_name %><br>
    <%= f.text_field :from_name %>
  </div>
  <div class="field">
    <%= f.label :from_address %><br>
    <%= f.text_field :from_address %>
  </div>
  <div class="field">
    <%= f.label :reply_email %><br>
    <%= f.text_field :reply_email %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.number_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
