<div class="row td">
  <div class="col-md-1"><input name="" type="checkbox" value=<%=newsletter.id %> ></div>
  <div class="col-md-2"><%= newsletter.name %>&nbsp;</div>
  <div class="col-md-2"><%= newsletter.campaign.try(:name) %>&nbsp;</div>
  <div class="col-md-2"><%= newsletter.template.try(:name) %>&nbsp;</div>
  <div class="col-md-2"><%= newsletter.subject %>&nbsp;</div>
  <div class="col-md-2"><%= format_date(newsletter, :created_at) %>&nbsp;</div>
  <div class="col-md-1 text-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
</div>

 <%= render 'shared/inline_action_link', element: newsletter %>