 <div class="row">
   <div class="col-xs-4">
    <div class="title_left"><h2>Newsletter list</h2></div><!-- title_left -->
  </div>
  <div class="col-xs-5 form-group pull-right top_search">
  <% if can? :read, Newsletter %>
    <%= render 'shared/keyword_search', :condition => :name_cont %>
    <div class="advance-search">
      <%= link_to search_newsletters_path do %>
        <i class="fa fa-dot-circle-o"></i>
      <% end %>
    </div> 
  <% end %>  
  <% if can? :create, Newsletter %>
    <div class="custom-add"><%= link_to new_newsletter_path, :title => "New Newsletter" do %><i class="fa fa-plus"></i><% end %></div>
  <% end %>    
  </div>              

</div><!--row-->
<div id="results">
  <%= render :partial => "results", :locals => {:newsletters => @newsletters} %>
</div>

<%= render 'shared/bootam_action_link', element: Newsletter %>
<%= will_paginate @newsletters , renderer: BootstrapPagination::Rails%>




