<%- model_class = Attribute -%>
<div class="custom-table">
  <div class="row th">
    <div class="col-md-1"><input name="" type="checkbox" value=""></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:username) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:email) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:status) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:created_at) %></div>
    <div class="col-md-2"><%= t '.actions', :default => t("helpers.actions") %></div>
    <div class="col-md-1">&nbsp;</div>
  </div><!-- row -->

  <% @users.each do |user| %>
    <div class="row td">
      <div class="col-md-1"><input name="" type="checkbox" value=""></div>
      <div class="col-md-2"><%= user.username %></div>
      <div class="col-md-2"><%= user.email %></div>
      <div class="col-md-2"><%= user.status ? 'Enabled' : 'Disabled' %></div>
      <div class="col-md-2"><%= format_date(user, :created_at) %></div>
      <div class="col-md-2">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        <%= link_to user.status ? 'Disable' : 'Enable',
                      user_path(user, :user => {:status => !user.status?}),
                      :method => :put,
                      :class => 'btn btn-default btn-xs' %>                                
      </div>
    </div>
  <% end %>
  <%= will_paginate @users %>
</div>
