<%- model_class = Attribute -%>
<div class="custom-table">
  <div class="row th">
    <div class="row th">
    <div class="col-md-1"><input name="" type="checkbox" value=""></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:username) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:email) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:status) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:created_at) %></div>
    <div class="col-md-1">&nbsp;</div>
  </div><!-- row -->

  </div><!-- row -->

  <% @users.each do |user| %>
    <div class="row td">
      <div class="col-md-1"><input name="" type="checkbox" value=<%= user.id %> ></div>
      <div class="col-md-2"><%= user.username %></div>
      <div class="col-md-2"><%= user.email %></div>
      <div class="col-md-2"><%= user.status ? 'Enabled' : 'Disabled' %></div>
      <div class="col-md-2"><%= format_date(user, :created_at) %></div>
      <div class="col-md-1 text-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
    </div>

     <div class="row selected-row selected-row-inline">
      <div class="col-md-12 selected-td">
        <ul>
          <li><i class="fa fa-line-chart"></i> Edit</li>
          <li><%= link_to edit_user_path(user) do %>
                                     <i class="fa fa-pencil"></i>
                                    <span>Edit</span>
                                  <% end %></li>
          <li><%= link_to user_path(user) do %>
                                     <i class="fa fa-pencil"></i>
                                    <span>Show</span>
                                  <% end %></li>
          <li class="custom-delete"><%= link_to user_path(user) ,method: :delete do %>
                                     <i class="fa fa-plus"></i>
                                    <span>Delete</span>
                                  <% end %></li>

         </ul>
      </div>
      </div>
  <% end %>
  <div class="row selected-row selected-row-bottom">
  <div class="col-md-12 selected-td">
    <ul>
      <li><i class="fa fa-line-chart profile-enable"></i> Enable</li>
        <li><i class="fa fa-pencil"></i> Disable</li>
        <li class="custom-delete"><i class="fa fa-plus"></i> Delete</li>

     </ul>
  </div>
</div>









