
<%= link_to 'Advanced Search', search_users_path %>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= render 'keyword_search' %>
</div>

<%= render 'results', model_class: model_class %>
<div><%= will_paginate @users %></div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
