<div class="row">
  <div class="page-title">
    <div class="title_left"><h2>Users list</h2></div><!-- title_left -->
      <div class="title_right">

      <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
       
          <%= render 'shared/keyword_search', :condition => :email_cont %>
       
          <div class="advance-search">
            <%= link_to search_users_path, :title => "Advance Search" do %>
             <i class="fa fa-dot-circle-o"></i>
            <% end %>
          </div>
        <div class="custom-add"><%= link_to new_user_path, :title => "New User" do %><i class="fa fa-plus"></i><% end %></div>

      </div>

    </div>
      <div class="clearfix"></div>                
  </div><!-- page-title -->
</div><!--row-->
<%= render 'results' , locals: {model_class: 'User'}%>
<%= render 'shared/bootam_action_link', element: 'users'%>
<%= will_paginate @users , renderer: BootstrapPagination::Rails%>


