<div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                    
                        <h1>Sperant</h1>
                        <div class="custom-user-name">
                            <%= f.hidden_field :reset_password_token %>
                            <%= f.password_field :password, autofocus: true, autocomplete: "off",:class => "form-control", :placeholder => "Password" %>
                            
                        </div>
                        <div class="custom-user-password">
                        <%= f.password_field :password_confirmation, autocomplete: "off" ,:class => "form-control", :placeholder => "Password Confirmation"%>
                        </div>
                        <div>
                            <%= f.submit "Change Password" , :class =>"btn btn-default form-control dark-theme-btn submit"%>
                                                </div>
                        <div class="clearfix"></div>
                        
                <% end %>
                 <!-- form -->
                </section>
                <!-- content -->
            </div>
            
        </div>
    </div>

<!-- <h2>Change your password</h2>
 -->




