<div class="row selected-row selected-row-bottom white_text" id='controller-<%= element.to_s.downcase.pluralize %>'>
  <div class="col-md-12 selected-td">
    <ul>
      
      <%if element.name != 'Newsletter'%>
        <% if can? :update, element %>
          <li>
  	      <%= link_to '#' , data: { confirm: t('frontend.shared.confirm_enable') } do %>
  	        <i class="fa fa-pencil profile-enable"></i>
  	        <span><%= t('frontend.shared.enable') %></span>
  	      <% end %>
        	</li>

        	<li>
  	      <%= link_to '#' , data: { confirm: t('frontend.shared.confirm_disable') } do %>
  	        <i class="fa fa-pencil"></i>
  	        <span><%= t('frontend.shared.disable') %></span>
  	      <% end %>
        	</li>
        <% end %>
      <% end %>

      <% if can? :delete, element %>
      	<li>
	      <%= link_to '#' , data: { confirm: t('frontend.shared.confirm_delete_all') } do %>
	        <span class="custom-delete"><i class="fa fa-plus"></i></span>
	        <span><%= t('frontend.shared.delete') %></span>
	      <% end %>
      	</li>
      <% end %>
    </ul>
  </div>
</div>