 <%#= content_tag :a, "Import", href: "#", data: {toggle: 'modal', target: '#mymodal'} %>
<script type="text/javascript">
  $(document).ready( function() {
    $('[data-dismiss=modal]').on('click', function (e) {
      $('#error_explanation').html('');
      $('#new_contact_import').trigger("reset");
    });
});
</script>

<div class='import_export_links import_export_links_margin'>
<% if can? :create, Contact %>
  <a href="#" data-toggle="modal" data-target="#myModal"><%= t('buttons.import') %><i class="fa fa-file-excel-o"></i></a>
<% end %>
  
  <% if can? :read, Contact %>

    <%#= link_to contacts_path(format: "xls") do %>
    <%= link_to contacts_path(format: "csv") do %>
      <span><%= t('buttons.export') %></span>
      <i class="fa fa-file-excel-o"></i>
    <% end %>
  <% end %>
</div>

<div id="myModal" class="modal fade" role="dialog">

<div class="modal-dialog">
    <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
  	  <button type="button" class="close" data-dismiss="modal">&times;</button>
     	<h4 class="modal-title"><%= t('buttons.import') %></h4>
    </div>
    
    <div class="modal-body">
       <div class="popup-container">
        <%= simple_form_for ContactImport.new, remote: true, multipart: true, authenticity_token: true, data: {type: "script"} do |f| %>
    			<div id="error_explanation">
            <% if @contact_import and @contact_import.errors.any? %>              
              <%= render 'errors', :locals => {:model_name => @contact_import} %>
            <% end %>
          </div>

		    	
          <div class="row">
		        <div class="form-group form-group-sm">
		          <label class="col-sm-3 col-xs-3 control-label"><%= t('frontend.import.select_profile') %></label>
		          <div class="col-xs-6">
  							<%= f.select :profile_id, options_for_select(Profile.active.pluck(:name, :id)), {}, { :class => 'form-control profile-sample' } %>
		          </div>
		          
              <div class="col-xs-3">&nbsp;</div>
		          <div class="clearfix"></div>
		        </div>
        
        		<div class="form-group form-group-sm">
            	<label class="col-sm-3 col-xs-3 control-label"><%= t('frontend.import.select_file') %></label>
          		<div class="col-xs-6">
          			<div class="input-group">
              		<input type="text" class="form-control" readonly="" placeholder = <%= t('frontend.import.placeholder.csv_file') %>>
              		<span class="input-group-btn">
          	        <span class="btn btn-primary btn-file custom-dark-btn">
              	      <%= f.file_field :file %> <%= t('buttons.browse') %>
                  	</span>                          
              		</span>

                  <span class="help-block"></span>
          			</div>
          		</div>
          		<div class="col-xs-3 green-import-btn">
                <%= button_tag(t('frontend.import.import'), type: 'submit', class: "fa fa-cloud-download") %>
              </div>

          	  <div class="clearfix"></div>
        		</div>
    		  </div>
        <% end %>  
    		
        <div class="row">
     			<div class="col-xs-12"><div class="sample-fields-heading"><%= t('words.sample_fields') %></div></div>
    		</div>
    
    		<div class="row">
    			<div class="col-xs-12 popup-sample-table">
            <div class='sample-fields'>
              <%= render partial: 'shared/sample_fields', locals: {profile: @profile}%>
            </div>    
        		</div>
    		</div>
    	</div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('buttons.close') %></button>
    </div>
</div>
</div>
</div>

<script type="text/javascript">

$( document ).ready(function() {  
  $('.new_contact_import').submit(function() {      
    $.ajax({
      type: "POST",
      url: $(this).attr('action'),
      data: new FormData( this ),
      processData: false,
      contentType: false
    });
    return false; // prevents normal behaviour
  });
});
</script>
