<%#= content_tag :a, "Import", href: "#", data: {toggle: 'modal', target: '#mymodal'} %>

<a href="#" data-toggle="modal" data-target="#myModal">Import Contacts <i class="fa fa-file-excel-o"></i></a>
<%= link_to "Export Excel", contacts_path(format: "xls") %>|
<%= link_to "Export CSV", contacts_path(format: "csv") %> 
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
  	       <button type="button" class="close" data-dismiss="modal">&times;</button>
     	   <h4 class="modal-title">Import Contacts</h4>
      	</div>
      	<div class="modal-body">
       		<div class="popup-container">
          <%= simple_form_for ContactImport.new, remote: true, multipart: true, authenticity_token: true, data: {type: "script"} do |f| %>
    			    <div id="error_explanation">
                <% if @contact_import and @contact_import.errors.any? %>              
                  <%= render 'errors', :locals => {:model_name => @contact_import} %>
                <% end %>
              </div>

		    	  <div class="row">
		        	<div class="form-group form-group-sm">
		            <label class="col-sm-3 col-xs-3 control-label" for="formGroupInputSmall">Select Profile</label>
		            <div class="col-xs-6">
		            	<%# if current_user.is_admin? %>
  							    <%= select_tag :profile_id, options_for_select(Profile.pluck(:name, :id)), :prompt => "-- Select Profile --", :class => "form-control" %>
  						    <%# else %>
  						    <%# end %>
		            </div>
		            <div class="col-xs-3">&nbsp;</div>
		            <div class="clearfix"></div>
		          </div>
        
        		  <div class="form-group form-group-sm">
            		<label class="col-sm-3 col-xs-3 control-label" for="formGroupInputSmall">Select File</label>
            		<div class="col-xs-6">
            			<div class="input-group">
                			<input type="text" class="form-control" readonly="" placeholder = "Upload only CSV files">
                			<span class="input-group-btn">
            	        		<span class="btn btn-primary btn-file custom-dark-btn">
                	        		<%= f.file_field :file, :accept => "text/csv" %> Browse
                    			</span>                          
                			</span>

                      <span class="help-block"></span>
            			</div>
            		</div>
            		<div class="col-xs-3 green-import-btn">
                  <%= button_tag("Import", type: 'submit', class: "fa fa-cloud-download") %>
                </div>

            	  <div class="clearfix"></div>

        		<% end %>
        		</div>
    		</div>
    		<div class="row">
     			<div class="col-xs-12"><div class="sample-fields-heading">Sample Fields</div></div>
    		</div>
    
    		<div class="row">
    			<div class="col-xs-12 popup-sample-table">
        			<table width="100%" border="0" cellspacing="0" cellpadding="0">
             			<tr>
              				<th scope="col">first_name</th>
              				<th scope="col">last_name</th>
              				<th scope="col">email</th>
             			</tr>
             			
             			<tr>
			              <td scope="col">John</td>
			              <td scope="col">Doe</td>
			              <td scope="col">John.Doe@gmail.com</td>
			            </tr>
            		</table>
        		</div>
    		</div>
    	</div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>

<script type="text/javascript">

$( document ).ready(function() {  
  $('.new_contact_import').submit(function() {      
    $.ajax({
      type: "POST",
      url: $(this).attr('action'),
      data: new FormData( this ),
      processData: false,
      contentType: false
    });
    return false; // prevents normal behaviour
  });
});
</script>
