<div class="row selected-row selected-row-inline">
  <div class="col-md-12 selected-td white_text">
    <ul>
      <!-- <li><i class="fa fa-line-chart"></i> Edit</li> -->
      <% if element.is_a?(User) and element == current_user %>
      <% elsif element.is_a?(Newsletter) %>
        <% if element.editable_or_deletable? %>
          <li><%= link_to [:edit , element] do %>
            <i class="fa fa-pencil"></i>
            <span><%= t("frontend.shared.edit_link") %></span>
            <% end %>
          </li>
        <% end %>  

      <% else %>
        
          <% if can? :update, element    %>
            <li><%= link_to [:edit , element] do %>
              <i class="fa fa-pencil"></i>
              <span><%= t("frontend.shared.edit_link") %></span>
              <% end %>
            </li>
          <% end %>
      <% end %>
      <% if element.class.name == 'Template'%>
          <% if can? :create, element    %>
            <li><%= link_to copy_templates_path(template_id: element.id) do %>
              <i class="fa fa-pencil"></i>
              <span><%= t("frontend.template.copy") %></span>
              <% end %>
            </li>
          <% end %>
      <% end %>
 
      <% if element.is_a?(Newsletter) and can?(:create , element) %> 
        <% if element.sent? %>
          <li><%= link_to stats_campaigns_path(newsletter_id: element.id),  method: :get do %>
            <i class="fa fa-line-chart"></i>
            <span><%= t("frontend.campaign.view_stat") %></span>
            <% end %>
          </li>
        <% end %>  
        <% if !element.scheduled_at? and !element.sent? %>
          <li><%= link_to send_now_newsletter_path(element),  method: :post do %>
            <i class="fa fa-eye"></i>
            <span><%= t("frontend.newsletter.send_now") %></span>
            <% end %>
          </li>
        <% end %>  
      <% end %>

      <% if can? :read , element %> 
        <li><%= link_to element do %>
          <i class="fa fa-eye"></i>
          <span><%= t("frontend.shared.view_link") %></span>
          <% end %>
        </li>
      <% end %>            
      


      <% if can? :delete, element %>
        <% if element.is_a?(User) and element == current_user %>
        <% elsif element.is_a?(Newsletter) %>
          <% if element.editable_or_deletable? %>
            <li class="custom-delete">
            <%= link_to element, method: :delete, data: { confirm: t('frontend.newsletter.confirm_delete') } do %>
              <i class="fa fa-plus"></i>
              <span><%= t("frontend.shared.delete_link") %></span>
            <% end %>
          </li>
          <% end %>  

        <% elsif element.class.name == 'Template' %>
         <% if !element.newsletters.any? %>
            <li class="custom-delete">
              <%= link_to element, method: :delete, data: { confirm: t('frontend.shared.confirm_delete') } do %>
                <i class="fa fa-plus"></i>
                <span> <%= t("frontend.shared.delete_link") %></span>
              <% end %>
            </li>  
          <% end %>          
        <% elsif element.is_a?(Company) %>
          <li class="custom-delete">
            <%= link_to element, method: :delete, data: { confirm: t('frontend.company.confirm_delete') } do %>
              <i class="fa fa-plus"></i>
              <span><%= t("frontend.shared.delete_link") %></span>
            <% end %>
          </li>
        <% elsif element.is_a?(Profile) %>
          <% if !element.newsletter_emails.any? %>
            <li class="custom-delete">
              <%= link_to element, method: :delete, data: { confirm: t('frontend.company.confirm_delete') } do %>
                <i class="fa fa-plus"></i>
                <span><%= t("frontend.shared.delete_link") %></span>
              <% end %>
            </li>
          <% end %>  
        <% else %>
          <li class="custom-delete">
            <%= link_to element, method: :delete, data: { confirm: t('frontend.shared.confirm_delete') } do %>
              <i class="fa fa-plus"></i>
              <span><%= t("frontend.shared.delete_link") %></span>
            <% end %>
          </li>
        <% end %>
      <% end %>  

      <% if element.is_a?(Profile) and can?(:read , element)%> 
        <li><%= link_to contacts_path(:format => :xlsx, profile_id: element.id) do %>
          <i class="fa fa-file-excel-o"></i>
          <span><%#= t("frontend.campaign.view_stat") %>Export</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>