<div class="row selected-row selected-row-inline">
  <div class="col-md-12 selected-td white_text">
    <ul>
      <!-- <li><i class="fa fa-line-chart"></i> Edit</li> -->
      <% if element.is_a?(User) and element == current_user %>
      <% else %>
        <% if element.class.name != 'Template'%>
          <% if can? :update, element    %>
            <li><%= link_to [:edit , element] do %>
              <i class="fa fa-pencil"></i>
              <span>Edit</span>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <% if can? :create, element    %>
            <li><%= link_to copy_templates_path(template_id: element.id) do %>
              <i class="fa fa-pencil"></i>
              <span>Copy</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :read , element %> 
        <li><%= link_to element do %>
          <i class="fa fa-eye"></i>
          <span>View</span>
          <% end %>
        </li>
      <% end %>            
        <% if can? :delete, element    %>
          <% if element.is_a?(User) and element == current_user %>
          <% elsif element.is_a?(Company) %>
            <li class="custom-delete">
              <%= link_to element, method: :delete, data: { confirm: 'Are you sure want to delete this company? It will delete associated admin and other data.' } do %>
                <i class="fa fa-plus"></i>
                <span>Delete</span>
              <% end %>
            <li class="custom-delete">
          <% else %>
            <li class="custom-delete">
              <%= link_to element, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-plus"></i>
                <span>Delete</span>
              <% end %>
            </li>
          <% end %>
        <% end %>  
      </li>


    </ul>
  </div>
</div>