<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-6 col-xs-10">
          <%= form_for @setting, :html => { :class => "form-horizontal campaign" } do |f| %>            
            <div class="field form-group form-group-sm">
              <%= f.label :site_title ,:class=>"col-sm-4 col-xs-12 control-label"%>
              <div class="col-sm-8 col-xs-12"> <%= f.text_field :site_title, :class => 'form-control' %> </div>
            </div>  

            <div class="field form-group form-group-sm">
              <%= f.label :free_emails ,:class=>"col-sm-4 col-xs-12 control-label"%>
              <div class="col-sm-8 col-xs-12"> <%= f.text_field :free_emails, :class => 'form-control' %> </div>
            </div>      
           
            <div class="field form-group form-group-sm">
              <%= f.label :admin_email ,:class=>"col-sm-4 col-xs-12 control-label"%>
              <div class="col-sm-8 col-xs-12"> <%= f.text_field :admin_email, :class => 'form-control' %> </div>
            </div>      

            <div class="field form-group form-group-sm">
              <%= f.label :admin_footer_content ,:class=>"col-sm-4 col-xs-12 control-label"%>
              <div class="col-sm-8 col-xs-12"> <%= f.text_field :admin_footer_content, :class => 'form-control' %> </div>
            </div>   
            
            <div class="col-md-12 col-xs-12">
              <div class="col-lg-2 col-xs-1"> </div>
              <div class="col-md-6 col-xs-10">
                <div class="form-group custom-from-group">
                  <%= f.submit t(:save) ,:class => 'btn dark-btn-custom' %>
                  <%= link_to t(:cancel), setting_path(Setting.first) ,class: 'btn' %>
                </div>
              </div>
              <div class="col-lg-4 col-xs-1"> </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  















