<div class="row">
    <div class="page-title">
      <div class="title_left"><h2>View Setting</h2></div><!-- title_left -->
      <div class="clearfix"></div>
    </div><!-- page-title -->
  </div><!--row-->

  <div class="custom-container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-5 col-xs-10">
          <form class="form-horizontal">


            <div class="form-group form-group-sm">
              <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Site title</label>
              <div class="col-sm-8 col-xs-12 default-without-input">
                <%= @setting.site_title%>
              </div>
            </div>

              <div class="form-group form-group-sm">
                <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Free Emails</label>
                <div class="col-sm-8 col-xs-12 default-without-input">
                  <%= @setting.free_emails %>
                </div>
              </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Admin email</label>
              <div class="col-sm-8 col-xs-12 default-without-input">
                <%= @setting.admin_email %>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Admin footer content</label>
              <div class="col-sm-8 col-xs-12 default-without-input">
                <%= @setting.admin_footer_content %>
              </div>
              </div>        
          </form>    
      </div><!-- row -->
  </div><!--  custom-container -->

<%= link_to t('buttons.edit'), edit_setting_path(@setting) %>

