<div class="row td">
  <div class="col-md-1 check">
      <% if can?(:update , Contact) or can?(:delete , Contact) %>
        <input name="" type="checkbox" value=<%= contact.id %> >
      <% end %>
  </div>
  <div class="col-md-2"><%#= contact.name %>&nbsp;</div>
  <div class="col-md-2 custom-break break_email"><%= contact.email %>&nbsp;</div>
  <div class="col-md-1 "><%= contact.profile.try(:name) %>&nbsp;</div>
  <div class="col-md-1"><%= display_status(contact) %>&nbsp;</div>
  <div class="col-md-2"><%= format_date(contact, :created_at) %>&nbsp;</div>
  <div class="col-md-1 text-right pull-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
</div>
<%= render 'shared/inline_action_link', element: contact %>
