<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

        <div class="form-group form-group-sm">
          <%= f.label :profile_ids,'Profiles', :class => "col-sm-4 col-xs-12 control-label required"%>
          <div class="col-xs-8 custom-checkbox-style" id="profile-custom-select">
            <%= collection_select(:contact, :profile_ids, Profile.active, :id, :name, {:include_blank => 'Select Profile'}, {:multiple => false, :name => 'contact[profile_ids][]', :selected => 0, :class => 'form-control'}) %>
          </div>
          <div class="clearfix"></div> 
        </div>                                   


        <div class="form-group form-group-sm">
          <%= f.label :email, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :email, :class => 'form-control' , :maxlength => 255 %>
          </div>
        </div>

        



        <div class="form-group form-group-sm field">
          <%= f.label :status, :class => "col-sm-4 col-xs-12 control-label status_radio"%>
               <div class="col-sm-8 col-xs-12 radio_status">
                <%= f.radio_button :status ,1, :checked => @contact.new_record? ? true : @contact.status ,:id=>"radio01" %>
                <label for="radio01" class="status_spacer"><span></span><%= t('frontend.shared.enabled') %></label>
                <%= f.radio_button :status ,0, :checked => @contact.new_record? ? false : !@contact.status ,:id=>"radio02" %>
                <label for="radio02"><span></span><%= t('frontend.shared.disabled') %></label>
              </div>
        </div>

        <div class = 'dynamic_field'>
          

        </div>

       

       
        
       
      <div class="col-lg-4 col-xs-1">
        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">&nbsp;</label>
          <div class="col-sm-8 col-xs-12 custom-radio-input">&nbsp;</div>
        </div>


      </div>
      <div class="clearfix"></div>
      <div class="divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <div class="form-group custom-from-group">
          <div class="col-xs-4">&nbsp;</div>

          <div class="col-xs-8 text-left">
            <%= f.submit t("button.save") ,:class => 'btn dark-btn-custom'%>
            <%= link_to t(:cancel), contacts_path,class: 'btn custom-link-btn' %>
          </div>
          <% end %>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>

    </div>
  </div><!-- row -->
</div><!--  custom-container -->

















