<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

        <div class="form-group form-group-sm">
          <label class="col-xs-4 text-right control-label" for="formGroupInputSmall">Profiles</label>
          <div class="col-xs-8 custom-checkbox-style">
            <%= collection_select(:contact, :profile_ids, Profile.all, :id, :name,{:include_blank => 'Press ctrl for multiselect'}, {:multiple => true, :name => 'contact[profile_ids][]', :selected => 0, :class => 'form-control'}) %>
          </div>
          <div class="clearfix"></div> 
        </div>                                   


        <div class="form-group form-group-sm">
          <%= f.label :first_name, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :first_name, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <%= f.label :last_name, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :last_name, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <%= f.label :email, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :email, :class => 'form-control' %>
          </div>
        </div>


        <div class="form-group form-group-sm field">
          <%= f.label :status, :class => "col-sm-4 col-xs-12 control-label status_radio"%>
               <div class="col-sm-8 col-xs-12 radio_status">
                <%= f.radio_button :status ,1, :checked => @contact.new_record? ? true : @contact.status ,:id=>"radio01" %>
                <label for="radio01" class="status_spacer"><span></span>Enabled</label>
                <%= f.radio_button :status ,0, :checked => @contact.new_record? ? false : !@contact.status ,:id=>"radio02" %>
                <label for="radio02"><span></span>Disabled</label>
              </div>
        </div>

        
        <div class="form-group form-group-sm">
                    <label class="col-xs-4 text-right control-label" for="formGroupInputSmall">Area of interest</label>
                    <div class="col-xs-8 custom-checkbox-style">
                      <% for attribute in Attribute.all %>
                          <%= check_box_tag "contact[interest_area_ids][]", attribute.id, @contact.interest_areas.include?(attribute) %>
                          <%= attribute.name.capitalize %><br/>
                      <% end %>
                    </div>
                    <div class="clearfix"></div> 
                    </div>                                   
        </div>

      <div class="col-lg-4 col-xs-1">
        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">&nbsp;</label>
          <div class="col-sm-8 col-xs-12 custom-radio-input">&nbsp;</div>
        </div>


      </div>
      <div class="clearfix"></div>
      <div class="divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <div class="form-group custom-from-group">
          <div class="col-xs-4">&nbsp;</div>

          <div class="col-xs-8 text-left">
            <%= f.submit :Save ,:class => 'btn dark-btn-custom'%>
            <%= link_to "Cancel", contacts_path %>
          </div>
          <% end %>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>

    </div>
  </div><!-- row -->
</div><!--  custom-container -->

















