<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>
        <div class="form-group form-group-sm">
          <%= f.label :profile_id, :class => "col-sm-4 col-xs-12 control-label required"%>
          <% if @contact.new_record? %>
          <div class="col-xs-8 custom-checkbox-style" id="profile-custom-select">
            <%= collection_select(:contact, :profile_id, Profile.active, :id, :name, {:include_blank => t('frontend.contact.select_profile') }, {:multiple => false, :name => 'contact[profile_id]', :selected => 0, :class => 'form-control'}) %>
          </div>
          <% else %>
          <div class="col-xs-8 custom-checkbox-style" id="profile-custom-select">
            <%= text_field_tag "name",@contact.profile.name,class: 'form-control', :disabled => true %>
          </div>
          <% end %>
          <div class="clearfix"></div> 
        </div>                                   

        
        <div class="form-group form-group-sm">
          <%= f.label :email, :class => "col-sm-4 col-xs-12 control-label"%>
          <div class="col-sm-8 col-xs-12">
            <% if @contact.new_record? %>
              <%= f.email_field :email, :class => 'form-control' , :maxlength => 255 %>
            <% else %>
              <%= f.email_field :email, :class => 'form-control' , :maxlength => 255 , disabled: true %>
            <% end %>
          </div>
        </div>
        <% if @contact.new_record? %>
          <div class = 'dynamic_field'> </div>
        <% else %>
          <% if @contact.extra_fields.present? %>
            <%= fields_for :extra_fields do %>
              <% @contact.extra_fields.each do |field|%>
                    <div class="form-group form-group-sm">
                  <%= label_tag :field_name,field.first,class: "col-sm-4 col-xs-12 control-label"%>  
                  <div class="col-sm-8 col-xs-12">
                    <%= text_field_tag "contact[extra_fields][#{field.first}]",field.last,class: 'form-control' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if @contact.new_record? %>
          Please use 'firstname' and 'lastname' as fields for better search results
        <% end %>

        
        <% if !@contact.new_record? %>
          <div class="form-group form-group-sm field">
            <%= f.label :status, :class => "col-sm-4 col-xs-12 control-label status_radio"%>
                 <div class="col-sm-8 col-xs-12 radio_status">
                  <%= f.radio_button :status ,1, :checked => @contact.new_record? ? true : @contact.status ,:id=>"radio01" %>
                  <label for="radio01" class="status_spacer"><span></span><%= t('frontend.shared.enabled') %></label>
                  <%= f.radio_button :status ,0, :checked => @contact.new_record? ? false : !@contact.status ,:id=>"radio02" %>
                  <label for="radio02"><span></span><%= t('frontend.shared.disabled') %></label>
                </div>
          </div>
        <% end %>

      <div class="col-lg-4 col-xs-1">
        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label">&nbsp;</label>
          <div class="col-sm-8 col-xs-12 custom-radio-input">&nbsp;</div>
        </div>


      </div>
      <div class="clearfix"></div>
      <div class="divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <div class="form-group custom-from-group">
          <div class="col-xs-4">&nbsp;</div>

          <div class="col-xs-8 text-left">
            <%= f.submit t("buttons.save") ,:class => 'btn dark-btn-custom'%>
            <%= link_to t(:cancel), contacts_path,class: 'btn custom-link-btn' %>
          </div>
          <% end %>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>

    </div>
  </div><!-- row -->
</div><!--  custom-container -->

















