<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>
        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">First Name</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :first_name, :class => 'form-control' ,:id=>"formGroupInputSmall"%>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Last Name</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :last_name, :class => 'form-control',:id=>"formGroupInputSmall" %>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Email</label>
          <div class="col-sm-8 col-xs-12">
            <%= f.text_field :email, :class => 'form-control',:id=>"formGroupInputSmall" %>
          </div>
        </div>


        <div class="form-group form-group-sm field">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Status</label>
               <div class="col-sm-8 col-xs-12">
                <%= f.radio_button :status ,1, :checked => @contact.new_record? ? true : @contact.status ,:id=>"radio01" %>
                <label for="radio01"><span></span>Enabled</label>
                <%= f.radio_button :status ,0, :checked => @contact.new_record? ? false : @contact.status ,:id=>"radio02" %>
                <label for="radio02"><span></span>Disabled</label>
              </div>
        </div>

        <div class="form-group form-group-sm">
                    <label class="col-xs-4 text-right control-label" for="formGroupInputSmall">Profiles</label>
                    <div class="col-xs-8 custom-checkbox-style">
                      <% for profile in Profile.all %>
                          <%= check_box_tag "contact[profile_ids][]", profile.id, @contact.profiles.include?(profile) %>
                          <%= profile.name.capitalize %>
                      <% end %>
                    </div>
                    <div class="clearfix"></div> 
                    </div>                                   

        <div class="form-group form-group-sm">
                    <label class="col-xs-4 text-right control-label" for="formGroupInputSmall">Area of interest</label>
                    <div class="col-xs-8 custom-checkbox-style">
                      <% for attribute in Attribute.all %>
                          <%= check_box_tag "contact[interest_area_ids][]", attribute.id, @contact.interest_areas.include?(attribute) %>
                          <%= attribute.name.capitalize %>
                      <% end %>
                    </div>
                    <div class="clearfix"></div> 
                    </div>                                   
        </div>

      <div class="col-lg-4 col-xs-1">
        <div class="form-group form-group-sm">
          <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">&nbsp;</label>
          <div class="col-sm-8 col-xs-12 custom-radio-input">&nbsp;</div>
        </div>


      </div>
      <div class="clearfix"></div>
      <div class="divider"></div>
    </div>

    <div class="col-md-12 col-xs-12">
      <div class="col-lg-2 col-xs-1">&nbsp;</div>
      <div class="col-md-5 col-xs-10">
        <div class="form-group custom-from-group">
          <div class="col-xs-4">&nbsp;</div>

          <div class="col-xs-8 text-left">
            <%= f.submit :Save ,:class => 'btn dark-btn-custom'%>

            <a href="/contacts/">Cancel</a>
          </div>
          <% end %>
        </div>

      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>

    </div>
  </div><!-- row -->
</div><!--  custom-container -->

















