<fieldset class="field" style="color:red">
  <legend class="center group_condition_legend" style="color:blue">

    <div class="advance-search-drop" ><%= "Choose #{f.combinator_select} condition".html_safe %></div>
	    <div class="col-xs-1 text-center delete-icon advance-search-delete">
        <%= link_to "#", {:class => 'remove_fields'} do %>
          <i class="fa fa-plus"></i>
        <% end %>    
    </div>
    <div class="cb"></div>   
  </legend>

  <div class="control-group custom_fields">
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
    <%= link_to_add_fields "Add Condition", f, :condition %>      
  </div>

</fieldset>