<%- model_class = Contact -%>
<div class="custom-table" data-bottom-url='/contacts/edit_all'>
  <div class="row th">
    <div class="col-md-1">
      <% if can?(:update , Contact) or can?(:delete , Contact) %>
        <input name="" id='select-all' type="checkbox" value="">
      <% end %>
    </div>
    <div class="col-md-2"><%= sort_link(@q, :first_name, t('frontend.contact.first_name'))%></div>
    <div class="col-md-2"><%= sort_link(@q, :email)%></div>
    <div class="col-md-1"><%= model_class.human_attribute_name(:profile_id) %></div>
    <div class="col-md-1"><%= sort_link(@q, :city)%></div>
    <div class="col-md-1"><%= model_class.human_attribute_name(:country) %></div>
    <div class="col-md-1"><%= sort_link(@q, :status)%></div>
    <div class="col-md-2"><%= sort_link(@q, :created_at)%></div>
    <div class="col-md-1">&nbsp;</div>
  </div><!-- row -->

  <% if @contacts.present? %>
    <div id="contact">
      <% @contacts.each do |c| %>
        <%= render :partial => 'contacts/contact', :locals => {:contact => c} %>
      <% end %>
    </div>
  <%else%>
    <h2 class='text-center'><em><%= t('frontend.shared.no_record') %></em></h2>  
  <% end %>
</div>

