<%#= render 'shared/import' %>


<div class="row">
  <div class="page-title">
    <div class="title_left"><h2>Contact list</h2></div><!-- title_left -->
      <div class="title_right">

      <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
       
          <%= render 'shared/keyword_search', :condition => :email_cont %>
       
          <div class="advance-search">
            <%= link_to search_contacts_path do %>
             <i class="fa fa-dot-circle-o"></i>
            <% end %>
          </div>
        <div class="custom-add"><%= link_to new_contact_path do %><i class="fa fa-plus"></i><% end %></div>

      </div>

    </div>
      <div class="clearfix"></div>                
  </div><!-- page-title -->
</div><!--row-->


<%- model_class = Contact -%>
<div class="custom-table">
  <div class="row th">
    <div class="col-md-1" id='select-all'><input name="" type="checkbox" value=""></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:name) %></div>
    <div class="col-md-3"><%= model_class.human_attribute_name(:email) %></div>
    <div class="col-md-1"><%= model_class.human_attribute_name(:status) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:created_at) %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:profile_id) %></div>
    <div class="col-md-1">&nbsp;</div>
  </div><!-- row -->

  <% unless @contacts.empty? %>
    <% @contacts.each do |contact| %>
      <div class="row td">
        <div class="col-md-1"><input name="" type="checkbox" value=<%= contact.id %> ></div>
        <div class="col-md-2"><%= contact.name %>&nbsp;</div>
        <div class="col-md-3 custom-break"><%= contact.email %>&nbsp;</div>
        <div class="col-md-1"><%= display_status(contact) %>&nbsp;</div>
        <div class="col-md-2"><%= format_date(contact, :created_at) %>&nbsp;</div>
        <div class="col-md-2 "><%= contact.profiles.map(&:name).join(", ") %>&nbsp;</div>
        <div class="col-md-1 text-right pull-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
      </div>
      <%= render 'shared/inline_action_link', element: contact %>
  <% end %>
  <% else %>
      <h2 class='text-center'><em>No Record Found</em></h2>  
  <% end %>
  <%= render 'shared/bootam_action_link', element: 'contacts' %>
  <%= will_paginate @profiles , renderer: BootstrapPagination::Rails%>
</div>