<div class="custom-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-lg-1 col-xs-1">&nbsp;</div>
      <div class="col-md-7 col-xs-10">
        <%= form_for @company, :html => { :class => "form-horizontal company" } do |f| %>
          <div class="form-group form-group-sm">
            <%= f.label :name, "Company Name", :class => "col-sm-4 col-xs-12 control-label"%>
            <!-- <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Company Name</label> -->
            <div class="col-sm-5 col-xs-12">
              <%= f.text_field :name, :class => 'form-control' ,:id=>"formGroupInputSmall"%>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label class="col-sm-4 col-xs-12 control-label" for="formGroupInputSmall">Number of Free Email's</label>
            <div class="col-sm-5 col-xs-12">
               <%= f.text_field :free_emails, :class => 'form-control',:id=>"formGroupInputSmall" %>
            </div>
            <div class="col-md-3">(per month)</div>
          </div>
          
          <% if @company.new_record? %>
            <%= f.fields_for :users do |user_form| %>
              <div class="form-group form-group-sm">
                <%= user_form.label :email, :class => "col-sm-4 col-xs-12 control-label"%>
                <div class="col-sm-5 col-xs-12">

                  <%= user_form.text_field :email, :class => 'form-control',:id=>"formGroupInputSmall" %>
                </div>
              </div>
                  
              <div class="form-group form-group-sm">
                <%= user_form.label :username, "User Name", :class => "col-sm-4 col-xs-12 control-label"%>
                <div class="col-sm-5 col-xs-12">

                  <%= user_form.text_field :username, :class => 'form-control',:id=>"formGroupInputSmall" %>
                </div>
              </div>
              
              <div class="form-group form-group-sm">
                <%= user_form.label :password, :class => "col-sm-4 col-xs-12 control-label"%>
                <div class="col-sm-5 col-xs-12">
                  <%= user_form.password_field :password, :class => 'form-control',:id=>"formGroupInputSmall" %>
                </div>
              </div>
              
              <div class="form-group form-group-sm">
                <%= user_form.label :password_confirmation, "Confirm Password", :class => "col-sm-4 col-xs-12 control-label"%>
                <div class="col-sm-5 col-xs-12">
                  <%= user_form.password_field :password_confirmation, :class => 'form-control',:id=>"formGroupInputSmall" %>
                </div>

                <% if @company.new_record? %>
                  <%= user_form.hidden_field :status, value: true %>
                  <%= user_form.hidden_field :role_id, value: 2 %>
                <% end %>
              </div>
            <% end %>
          <% end %>
                            
          <div class="form-group form-group-sm field">
            <%= f.label :status, :class => "col-sm-4 col-xs-12 control-label"%>
            <div class="col-sm-5 col-xs-12 radio_status">
              <%= f.radio_button :status ,1, :checked => @company.new_record? ? true : @company.status ,:id=>"radio01" %>
              <label for="radio01" class="status_spacer"><span></span>Enabled</label>
              <%= f.radio_button :status ,0, :checked => @company.new_record? ? false : !@company.status ,:id=>"radio02" %>
              <label for="radio02"><span></span>Disabled</label>
            </div>
          </div>                                                  
        
        </div>
        <div class="col-lg-4 col-xs-1">
          <div class="form-group form-group-sm">
            <label class="col-sm-4 col-xs-12 control-label">&nbsp;</label>
            <div class="col-sm-5 col-xs-12 custom-radio-input">&nbsp;</div>
          </div>
              
          
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
      </div>
                             
      <div class="col-md-12 col-xs-12">
        <div class="col-lg-2 col-xs-1">&nbsp;</div>
        <div class="col-md-5 col-xs-10">
          <div class="form-group custom-from-group">
            <div class="col-xs-4">&nbsp;</div>
                        
            <div class="col-xs-8 text-left">
              <%= f.submit :Save ,:class => 'btn dark-btn-custom'%>
              <%= link_to "Cancel", companies_path %>
            </div>
        </div>
                         
      </div>
      <div class="col-lg-4 col-xs-1">&nbsp;</div>
      <div class="clearfix"></div>
      <% end %>

    </div>
  </div><!-- row -->
</div><!--  custom-container -->