<%= form_for @company, :html => { :class => "form-horizontal company" } do |f| %>

  <% if @company.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Company Name", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :free_emails, "Number of free emails", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :free_emails, :class => 'form-control' %>
    </div>
    <%=f.error_span(:free_emails) %>
  </div>

  <%= f.fields_for :users do |user_form| %>

    <div class="form-group">
      <%= user_form.label :email, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= user_form.text_field :email, :class => 'form-control' %>
      </div>
      <%= user_form.error_span(:email) %>
    </div>

    <div class="form-group">
      <%= user_form.label :username, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= user_form.text_field :username, :class => 'form-control' %>
      </div>
      <%= user_form.error_span(:username) %>
    </div>

    <div class="form-group">
      <%= user_form.label :password, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= user_form.password_field :password, :class => 'form-control' %>
      </div>
      <%= user_form.error_span(:password) %>
    </div>

    <div class="form-group">
      <%= user_form.label :password_confirmation, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= user_form.password_field :password_confirmation, :class => 'form-control' %>
      </div>
      <%= user_form.error_span(:password_confirmation) %>
    </div>
    <%= user_form.hidden_field :role_id, value: Role.where(:name => COMPANY_ADMIN).first.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= label :status, "Enabled" %>
      <%= f.radio_button :status, true , :checked => @company.new_record? ? true : @company.status , :value => true %>
      <%= label :status, "Disabled" %>
      <%= f.radio_button :status, false , :checked => @company.new_record? ? false : @company.status , :value => false %>

    </div>
    <%= f.error_span(:status) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                companies_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
