<%- model_class = Company -%>
<div class="custom-table">
  <div class="row th">
    <div class="col-md-1">
    <% if can?(:update , Company) or can?(:delete , Company ) %>
      <input name="select-all"  id='select-all' type="checkbox" value="">
    <% end %>  
    </div>
    <div class="col-md-2"><%= model_class.human_attribute_name("Company Name") %></div>
    <!-- <div class="col-md-2"><%#= sort_link(@q, :subdomain) %></div> -->
    <div class="col-md-3"><%= model_class.human_attribute_name("Free Emails") %></div>
    <div class="col-md-2"><%= model_class.human_attribute_name(:status) %></div>
    <div class="col-md-3">Date</div>
    <div class="col-md-1">&nbsp;</div>
  </div><!-- row -->

  <% if @companies.present? %>
    <div id="record">
      <%= render @companies %>
    </div>
  <%else%>
    <h2 class='text-center'><em>No Record Found</em></h2>  
  <% end %>
  <%= render 'shared/bootam_action_link', element: Company %>
</div>

