<div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
					<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
                        <h1>Sperant</h1>
                        <%= devise_error_messages! %>
                        <%= f.hidden_field :invitation_token %>

                        <div class="custom-user-password">
                            <%= f.input :password, :label => false, :class => "form-control" ,:placeholder => "Password", :maxlength => 150  %>
                        </div>
                        <div class="custom-user-password">
                            <%= f.input :password_confirmation, :label => false, :class => "form-control", :placeholder => "Password Confirmation", :maxlength => 150 %>
                        </div>
                        <div>
                            <%= f.submit "Login" , :class =>"btn btn-default form-control dark-theme-btn submit"%>
                        </div>
                        <div class="clearfix"></div>
                        
                <% end %>
                 <!-- form -->
                </section>
                <!-- content -->
            </div>
            
        </div>
    </div>



