  <div class="clearfix"></div>
  
  <div class="roles-section">
  <div class="role-section-header">

  <%= form_for @role, :html => { :class => "form-horizontal campaign" } do |f| %>
    <div class="row">
      <div class="col-xs-3"><%= f.text_field :name , :class=> "form-control" ,:placeholder=>"New Roles" %></div>
        <div class="col-xs-3"><%= f.button :save , :class=>"btn  dark-theme-btn" %></div>
        <div class="col-xs-6">&nbsp;</div>
    </div>
    </div>
    <div class="main">
    <div class="accordion">
      <% functions.each do |group, actions| %>
        <div class="accordion-section">
          <a class="accordion-section-title" href=<%= "#accordion-#{group}"%> ><%= group.capitalize %> <span class="text-right arrow-right"><i class="fa fa-chevron-down"></i></span></a>
          <div id=<%= "accordion-#{group}" %> class="accordion-section-content default-style-accordion">
            <p class="select-roles">
            <%= check_box_tag "select_all", 'select_all', false, data: {code: 'select_all'}, class: 'select_all_role', id: "select_all_#{group}" %>
            <%= label_tag "select_all_#{group}", t("actions.select_all") %>
            </p>
          
            <% actions.each do |action| %>        
              <ul>
                <%= check_box_tag "role[function_ids][]", action.id, role.function_ids.include?(action.id), id: dom_id(action), data: {code: action.action} %>
                <%= label_tag dom_id(action), t("frontend.role.action.#{action.action}") %>
              </ul>
            <% end %>
          </div><!--end .accordion-section-content-->
        </div><!--end .accordion-section-->
      <% end %>
    </div><!--end .accordion-->
  <% end %>
  </div>
  </div><!-- roles-section -->