	<div class="row td">
	  <div class="col-md-1 check"><input name="" type="checkbox" value=<%= role.id %> ></div>
	  <div class="col-md-3"><%= role.name %>&nbsp;</div>
	  <div class="col-md-3"><%= display_status(role) %>&nbsp;</div>
	  <div class="col-md-3"><%= format_date(role, :created_at) %>&nbsp;</div>
	  <div class="col-md-2 text-right"><a href="#" class="anchor-block"><i class="fa fa-ellipsis-v"></i></a></div>
	</div>
	<%= render 'shared/inline_action_link', element: role %>