<div class="head-main rol-view">
  <div class="head-main-top">
    <div class="header-actions">
      <span class="btn-group">
        <div class="btn-navigation">
          <%#= link_to_back roles_path %>
        </div>
      </span>
    </div>
  </div>
  <div class="head-main-down">
    <div class="arrow-down"></div>
    <div class="btn-group-actions table-actions">
      <%= link_to edit_user_role_path(current_user,@role), class: 'btn', title: t("buttons.edit") do %>
        <i class="edit-icon"></i>
      <% end %>
      <%= link_to [current_user,@role], method: :delete, data: { confirm: t("frontend.role.confirm_delete") }, class: 'btn', title: t("buttons.delete") do %>
        <i class="delete-icon"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="body-main rol-view">
  <div class="head-show">
    <div class="rol-profile">
      <div class="client-name">
        <h5>
          <%= "#{t("frontend.role.group.role")} :" %>
        </h5>
        <h3>
          <%= @role.name %>
        </h3>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="list-actions">
    
    <% unless @functions.size == 0 %>
      <% @functions.each do |group, actions| %>
        <div class="blocks-rol">
          <h4>
            <%= t("frontend.role.group.#{group}") %>
          </h4>
          <div class="content-rols">
            <% actions.each do |action| %>
              <p>
                <% if (%w(metraje_list price_list payment custom requirement client observation).include?(action.controller) && %w(read approved approve create_update close complete).include?(action.action)) || (action.controller == "progress") %>
                  <%= label_tag dom_id(action), t("frontend.role.action.#{action.controller}_#{action.action}") %>
                <% elsif action.action == "manage" %>
                  <%= label_tag dom_id(action), t("frontend.role.action.#{action.controller}") %>
                <% elsif(action.controller == "project" && action.action == "read") %>
                  <%= label_tag dom_id(action), t("frontend.role.action.#{action.controller}_#{action.action}") %>
                <% else %>
                  <%= label_tag t("frontend.role.action.#{action.action}") %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
