<div class="row">
    <div class="page-title">
      <div class="title_left"><h2><%= t('frontend.shared.view', :model_name => 'Role') %></h2></div><!-- title_left -->
        <div class="pull-right custom-box">
<!--           <span class="edit-icon">
            <%#= link_to edit_role_path(@role) do %>
              <i class="fa fa-pencil"></i>
            <%# end %>
          </span>
          <span class="delate-icon">
            <%#= link_to @role, method: :delete do %>
              <i class="fa fa-trash-o"></i>
            <%# end %>
          </span>
 -->        </div>
        <div class="clearfix"></div>
        
        
        
    </div><!-- page-title -->
</div><!--row-->
<div class="custom-container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">Role: <%= @role.name %></h4>
        <% if @role.company %>
          <h4 class="text-center"><%= t('attributes.role.company_id')%> <%= @role.company.name %>
        </h4>
        <% end %>
      </div><!-- col-md-12 -->
      

    </div>
<!-- row -->
      <% @functions.each do |group, actions|%>
        <div class="row">
          <div class="col-md-8 col-xs-offset-2 bottom-spacer">
            <div class="custom-panel-heading"><%= group.capitalize%></div>
              <div class="custom-panel-body custom-lisiting-style">
                <ul>
                  <% actions.each do |action|%>
                      <li><%= action.action.capitalize %></li>
                  <%end%> 
                  </ul>
              </div>
          </div>
        </div>
      <% end %>
<% if can? :update, Role %>
  <%= link_to t('buttons.edit'), edit_role_path(@role) %> |
<% end %>
<%= link_to t('buttons.back'), roles_path %>

</div><!--  custom-container -->
