<%- model_class = Campaign -%>



<%= search_form_for [current_user,@search] do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>



<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.id, user_campaign_path(current_user,campaign) %></td>
        <td><%#= campaign.company.name %></td>
        <td><%= campaign.name %></td>
        <td><%= campaign.description %></td>
        <td><%= campaign.status ? 'Enabled' : 'Disabled' %></td>
        <td><%=l campaign.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_campaign_path(current_user,campaign), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [current_user, campaign],
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to campaign.status ? 'Disable' : 'Enable',
                      user_campaign_path(current_user,campaign, :campaign => {:status => !campaign.status?}),
                      :method => :put,
                      :class => 'btn btn-default btn-xs' %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_campaign_path(current_user),
            :class => 'btn btn-primary' %>
