<div class="row">
   <div class="col-xs-4">
    <div class="title_left"><h2>Campaign list</h2></div><!-- title_left -->
  </div>
     
  <div class="col-xs-8 form-group pull-right top_search">     
          <% if can? :search, Campaign %>      
            <%= render 'shared/keyword_search', :condition => :name_cont %>      
            <div class="advance-search">
              <%= link_to search_campaigns_path, :title => "Advance Search" do %>
               <i class="fa fa-dot-circle-o"></i>
              <% end %>
            </div>
          <% end %>

    <%= render 'shared/keyword_search', :condition => :name_cont %>   
    <div class="custom-add"><%= link_to new_campaign_path do %><i class="fa fa-plus"></i><% end %></div>
  </div>
</div><!--row-->


  <%- model_class = Campaign -%>
  <div class="custom-table" data-bottom-url='/campaigns/edit_all'>
    <div class="row th">
      <div class="col-md-2"><input name="" id='select-all' type="checkbox" value=""></div>
      <div class="col-md-3"><%= model_class.human_attribute_name(:name) %></div>
      <div class="col-md-3"><%= model_class.human_attribute_name(:status) %></div>
      <div class="col-md-3"><%= model_class.human_attribute_name(:date) %></div>
      <div class="col-md-1">&nbsp;</div>
    </div><!-- row -->
    <% if @campaigns.present? %>
    <div id="campaign">
      <%= render @campaigns %>
    </div>
    <%else%>
      <h2 class='text-center'><em>No Record Found</em></h2>  
    <% end %>
  <%= render 'shared/bootam_action_link', element: Campaign %>
  <%= will_paginate @campaigns, renderer: BootstrapPagination::Rails %>
</div>