<script type="text/javascript">
        var noBorder = { 
        states:{
            hover:{
                halo: {
                    size: 1
                }     
            }
        }
    };
    $(function() {
        Highcharts.setOptions({
            colors: ['#1ABB9C', '#e8ebeb']
        });
        <% if @data.present? %>
            <% @data.each_with_index do |data,i|%>

            // Create the chart for container0
            var chart_completion = new Highcharts.Chart({
                chart: {
                    renderTo: 'container<%=i%>',
                    type: 'pie',
                    margin: [0,0,0,0],
                    height: 100,
                    width: 100

                },
                tooltip: {
                    enabled: false,
                },
                plotOptions: {
                    pie: {
                        slicedOffset: 0,
                        size: '100%',
                        dataLabels: {
                            enabled: false
                        }
                    },
                    series: noBorder
                }, 
                title: {
                    text: "<%=((data * 100).to_f/@data.sum.to_f).round(2) %>%",
                    align: 'center',
                    verticalAlign: 'middle',
                    style: {
                        fontSize: '9.5px'
                    }
                    
                },      
                credits: {
                   enabled: false
                },
                series: [{
                    name: 'Browsers',
                    data: [[<%=@data.sum%>,<%=data%>],[,99.00]],
                    innerSize: '80%',
                    showInLegend:false,
                    dataLabels: {
                        enabled: false
                    },
                    states:{
                        hover: {
                            enabled: false
                        }
                    },
                    point : {
                        events: {
                            mouseOver: function(){
                               this.oldTitle = chart_completion.options.title.text;

                               chart_completion.setTitle({
                                    text: 'New title '
                                });
                               
                            },
                            mouseOut: function(){
                                chart_completion.setTitle({
                                    text: this.oldTitle
                                });
                            }
                        }
                    }
                }]
            });
            



            Highcharts.setOptions({
                colors: ['#1ABB9C', '#e8ebeb']
            });
            <% end %>
          <% end %>

    });
</script>
<%= form_for @campaign, :url => {:controller => "campaigns", :action => "stats"},:method => :get do |f| %>
  <div class="row">
	<div class="col-md-12">
		<div class="col-md-8">
		<label class="col-xs-2 custom-label-control control-label">Stats <i class="fa fa-chevron-right custom-spacing-left"></i></label>
		<div class="col-xs-5">
		<%= collection_select(:report, :campaign_id, Campaign.active, :id, :name, {:prompt => 'Select a campaign'}, {:class => 'form-control required'}) %>
		</div><!-- col-xs-5 -->
		<div class="col-xs-5" id = 'campaign-newsletter'>
			<select class="form-control"><option>Select Newsletter</option></select>
		</div><!-- col-xs-5 -->
		</div><!-- col-md-8 -->
	</div>
  </div><!-- row -->
  <div class="custom-white-spacer">
  <% if @data.present? %>
      <% @data.each_with_index do |data , i| %>
        <span><%= @stats[i] %></span>
        <div id="container<%= i%>" style="display:inline-block;" data-stat='<%= data%>'></div>
        <span><%=data%></span>
      <% end %>
  <% end %>
  </div>
<%= f.submit %>
<% end %>
