<p><%= t("devise.view.mailer.invitation_instruction.hello")%> <%= @resource.username %></p>

<p><%= t("devise.view.mailer.invitation_instruction.welcome")%></p>

<p><%= t("devise.view.mailer.invitation_instruction.detail_below")%></p>
<p><%= t("devise.view.mailer.invitation_instruction.username")%> <%= @resource.username %></p>
<p><%= t("devise.view.mailer.invitation_instruction.site_url")%> <%= root_url(:subdomain => @resource.company.try(:subdomain)) %> <p>
<p><%= link_to t("devise.view.mailer.invitation_instruction.click"), accept_invitation_url(@resource, :invitation_token => @token, :subdomain => @resource.company.try(:subdomain) ) %> <%= t("devise.view.mailer.invitation_instruction.set_password")%></p>
</br>
<p><%= t("devise.view.mailer.invitation_instruction.thank")%>,</p>
<p><%= t("devise.view.mailer.invitation_instruction.support")%></p>

