<p><%= t("devise.view.mailer.reset_password_instruction.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.view.mailer.reset_password_instruction.send_instruction") %></p>
<p><%= link_to <%= t("devise.view.mailer.reset_password_instruction.c_password") %>, edit_password_url(@resource, reset_password_token: @token, :subdomain => @resource.company.try(:subdomain)) %></p>

<p><%= t("devise.view.mailer.reset_password_instruction.ignore_mail") %></p>
<p><%= t("devise.view.mailer.reset_password_instruction.access_link") %></p>
